| ---
| layout: examples
| title: Dashboard Template
| extra_css: "dashboard.css"
| extra_js:
| - "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
| - "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
| - "dashboard.js"
| ---
include navheader
.container-fluid
	.row
		//- nav.col-md-2.d-none.d-md-block.bg-light.sidebar
		//- 	.sidebar-sticky
		//- 		include navigation
		main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
			.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
				h1.h2 Dashboard
				.btn-toolbar.mb-2.mb-md-0
					.btn-group.mr-2
						button.btn.btn-sm.btn-outline-secondary(type='button') Share
						button.btn.btn-sm.btn-outline-secondary(type='button') Export
					button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
						span(data-feather='calendar')
						|  This week
			include content