doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/railscasts.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')

    style
        include style/style.min.css
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js')
    script.
        hljs.initHighlightingOnLoad()
    script
        include js/common.js
  body
    //- include views/layout.pug

    //- include views/layout.pug
    - var i = 0
    - var j = 0
    - var c = ""

    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        a.navbar-brand(href='#')= title
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            //-     li.nav-item.active
            //-         a.nav-link(href='#')
            //-             | Home 
            //-             span.sr-only (current)
            //-     li.nav-item
            //-         a.nav-link(href='#') Link
            //-     li.nav-item.dropdown
            //-         a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            //-             | Dropdown
            //-         .dropdown-menu(aria-labelledby='navbarDropdown')
            //-             a.dropdown-item(href='#') Action
            //-             a.dropdown-item(href='#') Another action
            //-             .dropdown-divider
            //-             a.dropdown-item(href='#') Something else here
            //-     li.nav-item
            //-         a.nav-link.disabled(href='#') Disabled
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(id="searchInput",type='search', placeholder='Search', aria-label='Search', onkeyup='search()')
                //- button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    div.container
        h1= title
        div
            input#fullpath(type='checkbox', name='fullpath', checked='')
            label(for='fullpath') Fullpath
        each sr in dataObj 
            .card.mb-3(id="occuranceList")
                - j += 1
                .card-header
                    //- (data-toggle="collapse", data-target=`#header_${j}`, role="button")
                    b Searched 
                    span= sr.searchPattern + ' in '+ sr.fileType  + ' ' + sr.folder
                
                ul.list-group.list-group.list-group-flush
                    //- .collapse
                    //- (id=`#header_${j}`)
                    each result in sr.results
                        - i += 1
                        - c = "collapse_"+i
                        li.list-group-item.list-group-item-action(data-toggle="collapse", data-target=`#${c}`, role="button")= result.fileName.replace(sr.folder, '')
                            .badge.badge-info.ml-1= result.occurances.length + ' results'

                        ul.list-group.list-group
                            each occurance in result.occurances
                                - var riskyBusiness = '['+occurance.lineNumber + ':' +occurance.rowNumber+ ']:'
                                    //- 
                                li.list-group-item.list-group-item-action.collapse(id=c)                    
                                    //- , data-parent=`#header_${j}`        
                                    each translation in occurance.translations
                                        
                                        - var link = `vscode://file/${result.fileName}:${occurance.lineNumber}:${occurance.rowNumber}`
                                        //- a(href=link) 
                                        //- button.btn.btn-outline-primary
                                        a.btn.btn-outline-dark.btn-sm(role='button', href=link)
                                            i.fas.fa-edit
                                        //- !{riskyBusiness}
                                        span= ' Placeholder: ' + translation.placeholder + ' '
                                        if translation.placeholderType == 'code'
                                            .badge.badge-danger= translation.placeholderType
                                        else 
                                            .badge.badge-info= translation.placeholderType
                                        hr
                                        .alert.alert-secondary.mb-0.p-0(role='alert', class=`${sr.fileType.replace('.','')}`)
                                            pre.mb-0
                                                code= occurance.line
                                            //- pre
                                            //-     code(class=`${sr.fileType.replace('.','')}`)= occurance.line

        
    script(src='//code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='//stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/languages/xml.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/languages/typescript.min.js')

    //- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    //- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    //- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>